version: "3.9"

services:
  react-build:
    image: node:22
    working_dir: /app
    tty: true
    stdin_open: true
    volumes:
      - ./react:/app
    #command: sh -c "npm install && npm run build"
    

  webpack-build:
    image: node:22
    working_dir: /app
    volumes:
      - ./webpack-demo06:/app
    command: sh -c "npm install && npm run build"

  apache-host:
    #build: .
    image: httpd:2.4    
    ports:
      - "8080:80"
    volumes:
      # carpetes de sortida (dist o build)
      - ./react/dist:/usr/local/apache2/htdocs/react
      - ./webpack-demo06/dist:/usr/local/apache2/htdocs/webpack
    depends_on:
      - react-build
      - webpack-build

