$border-width1rem: 1rem;
$border-width0_25rem: $border-width1rem * 0.25;
$border-width1px: 1px;
$border-width2px: $border-width1px * 2;

$border_radius1px: 1px;
$border_radius1x100: 1%;
$border_radius50x100: $border_radius1x100 * 50;
$border_radius1rem: 1rem;
$border_radius0_5rem: $border_radius1rem * 0.5;