$text_color_white: white;
$text_color_gray: gray;
$text_color_green: green;
$link_color: blue;
$bg_color_main: ivory;
$bg_color2: blue;
$bg_color3: yellow;
$bg_color_balck: black;
$bg_boto_submit: green;
$color_boto_submit: white;
$border_color: black;
$border_focus: blue;
$titol_color_Khaki: khaki;
$titol_color_Blue: blue;