$distancia1: 1rem;
$distancia0: $distancia1 * 0;
$distancia0_5: $distancia1 * 0.5;
$distancia0_625: $distancia1 * 0.625;
$distancia0_9375: $distancia1 * 0.9375;
$distancia1_5: $distancia1 * 1.5;
$distancia2: $distancia1 * 2;
$distancia2_5: $distancia1 * 2.5;
$distancia4: $distancia1 * 4;
$distancia7_5: $distancia1 * 7.5;
$distancia18: $distancia1 * 18;
$distancia36: $distancia1 * 36;
$distancia1x100: 1%;
$distancia33x100: $distancia1x100 * 33;
$distancia50x100: $distancia1x100 * 50;
$distancia100x100: $distancia1x100 * 100;
$distancia1px: 1px;
$distancia300px: $distancia1px * 300;