$margin1: 1rem;
$margin0: $margin1 * 0;
$margin0_5: $margin1 * 0.5;
$margin0_625: $margin1 * 0.625;
$margin0_9375: $margin1 * 0.9375;
$margin1_5: $margin1 * 1.5;
$margin2: $margin1 * 2;
$margin2_5: $margin1 * 2.5;
$margin4: $margin1 * 4;
$margin7_5: $margin1 * 7.5;
$margin18: $margin1 * 18;
$margin36: $margin1 * 36;
$margin1x100: 1%;
$margin33x100: $margin1x100 * 33;
$margin100x100: $margin1x100 * 100;