$padding1: 1rem;
$padding0: $padding1 * 0;
$padding0_5: $padding1 * 0.5;
$padding0_625: $padding1 * 0.625;
$padding0_9375: $padding1 * 0.9375;
$padding1_5: $padding1 * 1.5;
$padding2: $padding1 * 2;
$padding2_5: $padding1 * 2.5;
$padding4: $padding1 * 4;
$padding7_5: $padding1 * 7.5;
$padding18: $padding1 * 18;
$padding36: $padding1 * 36;
$padding1x100: 1%;
$padding33x100: $padding1x100 * 33;
$padding100x100: $padding1x100 * 100;