@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #3B82F6;
    --color-accent: #F59E0B;
    --color-dark: #1F2937;
    --color-light: #F3F4F6;
    --color-primary-hover: #2563EB;
    --color-secondary: #1E40AF;
    --color-dark-soft: #374151;
    --color-light-soft: #E5E7EB;
    --color-card: #FFFFFF;
    --color-success: #10B981;
    --color-badge: #EF4444;

    --font-main: "Outfit", sans-serif;

    --spaceing-18: 4.5rem;
    --spaceing-22: 5.5rem;
    --spaceing-128: 32rem;

    --radius-card: 1rem;
    --radius-button: 0.5rem;
    --radius-badge: 9999px;

    --shadow-card: 2px 2px 5px 2px rgb(0 0 0 / 0.1);
    --shadow-card-hover: 2px 2px 5px 2px rgb(0 0 0 / 0.3);
    --shadow-button: 0 2px 5px 5px rgb(59 130 246 / 0.4);
}
