@layer components {
    .card {
        background-color: var(--color-card);
        border-radius: 0.75rem;
    }

    .btn-primary {
        border-radius: 1rem;
        background-color: var(--color-btn-primary);
        border: 1 var([--color-btn-primary]/20);
        padding: 1rem;
    }

    .btn-secondary {
        border-radius: 1rem;
        background-color: var(--color-btn-secondary);
        border: 1 var([--color-btn-secondary]/50);
        padding: 0.75rem;
    }
}

